@using EntityLayer.Entities;
@model List<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı Adı</th>
        <th>Kullanıcı Soyadı</th>
        <th>Şifre</th>
        <th>Email</th>
        <th>UserRole</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.UserName</td>
            <td>@item.UserSurname</td>
            <td>@item.UserPassword</td>
            <td>@item.UserEmail</td>
            <td>@item.UserRole</td>
            <td>
                @using (Html.BeginForm("DeleteUser", "User", new { id = item.ID }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Sil</button>
                }
            </td>
            <td><a href="/User/UpdateUser/@item.ID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/User/AddUser/" class="btn btn-primary">Yeni Kullanıcı Ekle</a>

